ErrorDocument 404 /404.html
Options +FollowSymLinks
RewriteEngine On

# Remover a extensão ".html" das URLs
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]